$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;
$breakpoint-xlarge: 1220px;
$breakpoint-mini-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

@import 'components/fonts.scss';

// Обнуление всех стилей 
@import 'reset-css'; 

// Mixins
@import 'components/mixin.scss';

// Global classes
@import 'components/global.scss';

// Components
@import 'components/CtMenu.scss';
@import 'components/CtFooter.scss';
@import 'components/mobile-header.scss';

// Pages
@import 'elements/index.scss';
@import 'elements/about.scss';
@import 'elements/article.scss';
@import 'elements/partners.scss';
@import 'elements/contacts.scss';
@import 'elements/services.scss';

// Media
@import 'elements/media.scss';