
@font-face {
  font-family: NewCycle; 
  font-display: swap;
  src: url("assets/fonts/NewsCycle-Regular.ttf") format('truetype');         
 }
  
@font-face {
   font-family: Geometos; 
   font-display: swap;
   src: url("assets/fonts/Geometos.ttf") format('truetype');         
  } 
    
  @font-face {
    font-family: Beausans; 
    font-display: swap;
    src: url("assets/fonts/Beausans.ttf") format('truetype');         
   }   

   @font-face {
    font-family: ProtoSans; 
    font-display: swap;
    src: url("assets/fonts/ProtoSans.otf") format('opentype');         
   }      