


@mixin overlay() {
    content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;        
}

@mixin coverCenter() {
    background-size: cover;
    background-position:center;
}

@mixin suka() {
    border-bottom: 1px solid #000;
}

@mixin size($height,$width) {
    height: $height;
    width: $width;
}

@mixin before() {
    content:'';
    position: absolute;
    margin: auto;
}

@mixin flex-all-center() {
    display: flex; justify-content: center; align-items: center;
    flex-direction: column
}



@function h($px) {
    @return (($px / 1080) * 100) + vh;
}

@function w($px) {
    @return (($px / 1920) * 100) + vw;
}


@function hm($px) {
    @return (($px / 2338) * 100) + vh;
}

@function wm($px) {
    @return (($px / 1080) * 100) + vw;
}

// Em function
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}



@mixin flex-align-center-column {
    display: flex; flex-direction: column; align-items: center;
}
@mixin flex-justify-center-column {
    display: flex; flex-direction: column; justify-content: center;
}


@mixin flex-justify-space {
    display: flex; justify-content: space-between;
}

@mixin flex-justify-center {
    display: flex; justify-content: center;
}

@mixin flex-align-center {
    display: flex; align-items: center;
}

@mixin border_top_bot($width) {
    border-top: $width solid #A1A1A1;
    border-bottom: $width solid #A1A1A1;
}

@mixin flex-justify-space-wrap {
    display: flex; justify-content: space-between; flex-wrap: wrap;
}

@mixin flex-all-center {
    display: flex; justify-content: center; align-items: center;
}

@mixin flex-align-end {
    display: flex; align-items: flex-end; 
}

@mixin flex-all-center-column {
    display: flex; justify-content: center; align-items: center; flex-direction: column;
}

@mixin posabs() {
position: absolute; top: 0; left: 0;
}

@mixin scrollRed() {
                      /* width */
  &::-webkit-scrollbar {
    width: w(6);    
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: w(10);
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: w(10);
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }       
}

@mixin scrollWhite() {
    /* width */
&::-webkit-scrollbar {
width: w(6);    
}

/* Track */
&::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: w(10);
}

/* Handle */
&::-webkit-scrollbar-thumb {
background: #fff; 
border-radius: w(10);
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}       
}