.mobile-header {
    &__svg {
        @include size(wm(70), wm(90));        
    }
    &__article {
        @include size(wm(90), wm(90));        
    }
    .flex-beetween {
        padding: wm(150) wm(80) wm(85) ;
        @include flex-justify-space;
        position: relative;
        align-items: center;
    }
    &__title {
        @include flex-justify-space;
        align-items: center;      
        margin-bottom: wm(150);  
        &__item {            
            height: wm(67);
            flex:1;
            background: #EF3B39;            
            box-shadow: 0 wm(4) wm(4) rgba(0, 0, 0, 0.25);
        }
        h2 {
            font-family: ProtoSans;    
            position: relative;
            margin-top: wm(5);
            margin: 0 wm(50);
            text-transform: uppercase;
            font-size: wm(96);
            text-shadow: 0 wm(4) wm(4) rgba(0, 0, 0, 0.25);
        }
    }
}

.mobile-menu {
    text-align: left;
    position: fixed; top: 0; left: 0;
    @include size(100vh, 100%);
    z-index: 100;
    background: url('~@/assets/images/mobile/index-bg.jpg') no-repeat;
    @include coverCenter;
    &__wrap {
        position: relative;
        padding-left: wm(80);
        &__toggle {
            margin: wm(150) 0 wm(200) 0;
            img {
                @include size(wm(70), wm(90));                
            }
        }
        a {            
            display: block;
            margin-bottom: wm(120);
            font-family: ProtoSans;
            font-size: wm(72);
            color: #fff;
        }
    }
}

.mobile-article {
    position: fixed; top: 0; left: 0;
    @include size(100vh, 100%);
    z-index: 100;
    background: url('~@/assets/images/mobile/default-bg.png') no-repeat;
    @include coverCenter;
    &__wrap {
        position: relative;
        text-align: right;
        padding-right: wm(80);
        &__toggle {
            margin: wm(140) 0 wm(190) 0;
            img {
                @include size(wm(90), wm(90));                
            }
        }
        p {            
            display: block;
            margin-bottom: wm(120);
            font-family: ProtoSans;
            font-size: wm(72);
            color: #fff;
        }
    }
}