

.ct-index__description {
    line-height: normal; 
    text-align: center;
    &__bg {      
      width: 100%;  
    }
    h2, h1 {
        font-family: Spectral-semibold;
    }    
    h1 {
        text-transform: uppercase;
    } 
    p {
        font-family: NewCycle;
        line-height: normal;
    }
    ul {
        width: 100%;        
        li {
            white-space: pre;
            font-family: NewCycle;
        }
    }
    .description-list  {
        position: relative;                        
        article {                                          
            p {
                color: #EF3B39;
                font-family: Spectral-extrabold;                                                
                transition: 0.4s ease-in-out;
            }
            span {                                                
                color: #000;
                display: block;                
                font-family: NewCycle;                
                position: relative;                
            }                 
        }
    }  
       
    .eventtarget {
        position: relative;
        &::before {
            --size: 0;
            content: '';
            position: absolute;
            left: var(--x);
            top: var(--y);
            width: var(--size);
            height: var(--size);
            background: radial-gradient(circle closest-side, #4405f7, transparent);
            transform: translate(-50%, -50%);
            transition: width .2s ease, height .2s ease;
          }
          &:hover::before {
            --size: 400px;
          }
    }
}


@media (min-width: 960px) {    
    .ct-index__description {                               
        h2 {
            font-size: vw(50);
            margin:vw(100) 0 vw(50);            
        }
        &__bg {
            height: vw(734);            
        }
        .description-list { 
            position: relative;
            margin-bottom: vw(58);
            &::before {
                @include before();
                bottom: vw(-58); left: 0;
                @include size(vw(58),100%);
                z-index: 2;
                background:#FFB800;
                z-index: 10;
            }
            
            &__block {
                display: flex;
                justify-content: space-between;
                padding-bottom: vw(106); 
                &:last-child {
                 padding-bottom: vw(60);
                }
                article {
                    display: flex;
                    align-items: center;
                    @include size(vw(120),auto); 
                    p {
                        width: vw(567);
                        font-size: vw(24);                  
                    }   
                    &:hover p {
                        font-size: vw(22);
                        color: #000;
                    }  
                    span {
                        font-size: vw(18);                                               
                    } 
                    img {
                        @include size(vw(107), vw(107));                
                    }      
                    &:first-child {
                        text-align: right;
                        img { margin-left: vw(13); }
                        p {
                            white-space: pre;
                        }
                        span {
                            white-space: normal;
                        }
                    }                
                    &:last-child {                    
                        text-align: left;
                        img { margin-right: vw(13); }                    
                    }
                    
                } 
            }       
            &__first {
                justify-content: center;
                position: relative;
                margin-bottom: vw(30);
                article {
                    flex-direction: column;
                    align-items: center;
                    p {
                        text-align: center;                        
                        width: auto;
                    }
                    span {
                        width: vw(880);
                    }
                }
            }
            &__bg {
                position: absolute;
                left: 0; right: 0; bottom: vw(-40); margin: auto;    
                z-index: -1;            
                @include size(vw(670), vw(356));                          
                background: url('~@/assets/images/index-description/description-list__bg.png') no-repeat;
                @include coverCenter;
            }     
          
        }
    }    

    .webp .ct-index__description__bg {
        background: url('./assets/images/index-description-bg.webp') no-repeat;
        @include coverCenter();
    }
    
    .no-webp .ct-index__description__bg {
        background: url('./assets/images/index-description-bg.jpg') no-repeat;
        @include coverCenter();
    }
}

@media (max-width: 960px) {
    .ct-index__description {
        &__bg {
            height: vwm(412);            
        }        
        h1 {   
            padding: vwm(70) 0 vwm(30);
            font-size: vwm(30);            
        }
        h2 {
            font-size: vwm(29);
            padding: vwm(70) 0 vwm(40);
            color: #000;
        }
        img {
            @include size(vwm(127.97), vwm(127.97))
        }
        p {
            font-size: vwm(18);
            padding: vwm(20) 0 vwm(50);
            font-family: Spectral-extrabold;
            color: #000;
        }
        span {
            position: relative;
            display: block;
            font-size: vwm(18);
            color: #000;
            padding: 0 0 vwm(20);
            font-family: NewCycle;
        }
        
        ul {
            li {
                white-space: normal;
            }
        }
        li:last-child span {
            padding-bottom: vwm(60.73);
        }     
    }      
    
    .webp .ct-index__description__bg {
        background: url('./assets/images/index-description/description-mobile.jpg') no-repeat;
        @include coverCenter();
    }
    
    .no-webp .ct-index__description__bg {
        background: url('./assets/images/index-description/description-mobile.jpg') no-repeat;
        @include coverCenter();
    }
}

.etarget {
  position: relative;        
  overflow: hidden;       
  &::before {        
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: url('~@/assets/images/body.webp') 50% 50% no-repeat fixed;
    background-size: cover;    
    transition: width .2s ease-in-out, height .2s ease-in-out;  
    z-index: 1;  
  }
  
  * {            
      z-index: 10;
      position: relative;
  }
}