.ct-news {    
    .ct-pages-content__wrap {        
        line-height: normal;
        h2,h3 {
            font-family: Spectral-bold;
        }
        p {
            font-family: NewCycle;
            color: #4C4C4C;
        }
        .line-yellow {
            background: #FFB800;
        }
        .line-brown {
            background: #CACACA;
            transition: 0.3s;
        }
        article {
            h2 {                
                color: #212121;
            }
            span {
                font-family: Spectral-regular;
                color: #AFAFAF;
            }
        }    
        aside {
            background: #F9F9F9;
            line-height: normal;
            section {                
                cursor: pointer;
                &:hover .line-brown {
                    width: 100%;
                    background: #FFB800 ;
                }
            }
            .content {
                flex:1;
                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            h2 {
                text-align: center;
                color: #4C4C4C;
            }      
            span {
                color: #AFAFAF;
                font-family: Spectral-regular;
            }      
            a {
                color: #FFB800;
                font-family: Spectral-medium;
            }
        }    
    }
}

@media (min-width: 960px) {
    .ct-news {
        .ct-pages-content__wrap {
            display: flex;
        }
        .ct-pages-content {            
            article {
                flex:1;
                padding: vw(70) vw(16) vw(20) 0;
                h2 {
                    font-size: vw(50);
                }
                p {
                    font-size: vw(25);
                }                
                img {
                    @include size(vw(497), 100%)
                }
                span {
                    font-size: vw(20);
                }
                .line {
                    @include size(vw(1), vw(482));                
                }
                .full-line {
                    @include size(vw(1), 100%);
                }
                .line-primary {
                    margin: vw(40) 0 vw(30);
                }                
                .line-secondary {
                    margin: vw(30) 0 vw(10);
                }                
                .full-line-primary {
                    margin: vw(20) 0 vw(30);
                }
                .full-line-secondary {
                    margin: vw(30) 0 vw(20);
                }
            }            

            aside {                
                width: vw(482);                  
                box-shadow: 0 vw(4) vw(7) rgba(0, 0, 0, 0.25);       
                h2 {
                    padding: vw(33) 0 vw(20);
                    font-size: vw(30);
                    border-bottom: vw(1) solid #CACACA;
                }   
                .aside-container {
                    padding: 0 vw(10);
                }
                section {                    
                    padding: vw(20) 0;                        
                    border-bottom: vw(1) solid #CACACA;
                }
                img {                    
                    margin: 0 vw(10) 0 0;
                    @include size(vw(108), vw(149));
                    object-fit: cover;
                }                              
                h3,p {
                    font-size: vw(15);
                }
                span {
                    font-size: vw(10);                    
                }                    
                a {   
                    font-size: vw(15);
                    @include size(vw(23), vw(140));
                    text-align: center;
                }
                .line {
                    @include size(vw(1), vw(30));
                    margin: vw(9) 0 vw(4.5);
                }
            }
        }        
    }
}

@media (max-width: 960px) {
    .ct-news { 
        .ct-pages-content {
            .line-yellow {
                background: #5B5B5B;
                opacity: 0.5;
            }
            article {
                h2 {
                    font-size: vwm(30);
                    text-align: center;
                    margin: vwm(47) 0 vwm(30);
                }
                p {
                    font-size: vwm(18);                                       
                }
                p,span {
                    padding: 0 vwm(18); 
                }
                img {
                    @include size(vwm(344), 100%);
                    object-fit: cover;
                }
                .line {
                    display: none;               
                }   
                .full-line {
                    @include size(vwm(1), 100%);                    
                    margin: vwm(10) 0;
                }                                   
            }

            aside {   
                margin-top: vwm(30);
                box-shadow: 0 vwm(2) vwm(13) rgba(0, 0, 0, 0.25);             
                h2 {
                    font-size: vwm(24);
                    border-bottom: vwm(1) solid #CACACA;
                    padding: vwm(30) 0;
                }
                .aside-container {
                    padding: 0 vwm(7);
                }
                section {
                    padding: vwm(20) 0;
                    border-bottom: vwm(1) solid #CACACA;       
                    align-items: center;             
                }        
                img {                                        
                    @include size(vwm(93), vwm(98.52));
                    object-fit: cover;
                    margin-right: vwm(10.48);
                }                              
                h3,p {
                    font-size: vwm(14);
                }
                span {
                    font-size: vwm(7.78008);                    
                }                    
                a {   
                    font-size: vwm(11.6701);
                    padding-right: vwm(36.6);                    
                    text-align: center;
                }
                .line {
                    @include size(vwm(1), vwm(23.34));
                    margin: vw(9) 0 vw(4.5);
                }
            }
        }
    }
}